[push]
	default = current
[github]
	user = interstateone
[core]
	excludesfile = /Users/brandon/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = Brandon Evans
	email = brandon@brandonevans.ca
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[rebase]
	autostash = true
	autosquash = true
[ghi]
	token = !security find-internet-password -a interstateone -s github.com -l 'ghi token' -w
[diff "plist"]
	textconv = plutil -convert xml1 -o -
