kwmc rule owner="iTerm2" properties={role="AXDialog"}

kwmc rule owner="Screenhero" properties={float="true"}

kwmc rule owner="Safari" properties={space="1"}
kwmc rule owner="Zeplin" properties={space="1"}
kwmc rule owner="Xcode" properties={space="2"}
kwmc rule owner="Terminal" properties={space="2"}
kwmc rule owner="iTerm2" properties={space="2"}
kwmc rule owner="Simulator" properties={space="2"}
kwmc rule owner="Slack" properties={space="3"}
kwmc rule owner="Spark" properties={space="3"}
